.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    ul{
        display: flex;
        list-style: none;
        margin-bottom: 5rem;
        @media only screen and (max-width:40rem) {flex-wrap: wrap; justify-items: center; margin-bottom: 2rem; margin-top: 3rem;}
        li{
            text-decoration: none;
            padding: 1rem 2rem;
            transition: all .3s;
            @media only screen and (max-width:40rem) {padding: 1rem 1.5rem;}
            a{
                text-decoration: none;
                color: inherit;
                font-weight: 900;
            }
            &:hover{
                transform: translateY(-.5rem) scale(1.1);
                color: #fd706b;
            }
        }
    }
    img{
        width: 15%;
    }
    &-legal{
        padding: 2rem;
        span{
            color: #73d4db;
            font-weight: 900;
        }
    }
}